### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [6]:
#Display the total number of players
total_players= len(purchase_data["SN"].value_counts())

total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Run # of unique items
unique_items = len(purchase_data["Item Name"].unique())
# print(unique_item)

#Average Price
average_price = purchase_data["Price"].mean()
# print(average_price)

# of Purchases
number_purchases = len(purchase_data["Purchase ID"].value_counts())
# print(number_purchases)

#of total revenue
total_revenue = purchase_data["Price"].sum()
# print(total_revenue)

#Display the summary data frame

summary_df = pd.DataFrame ({"Number of Unique Items": [unique_items], "Average Price": f"${average_price:,.2f}", 
                             "Number of Purchases": [number_purchases], "Total Revenue": f"${total_revenue:,.2f}"})

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#Unique Gender Count
gender_count_df = purchase_data.groupby("Gender")["SN"].nunique()

gender_count_df

#Total Count
gender_total_count_df = len(purchase_data["SN"].value_counts())
# Percentage of Gender

gender_percent_df = (((gender_count_df/gender_total_count_df)*100).round(2).astype(str) + '%')
# gender_percent_df = gender_count_df/1000

gender_percent_df

#Data Frame

gender_merge_df = pd.merge(gender_count_df, gender_percent_df, on ="Gender")

gender_merge_df

#Change Column & Format

gender_merge_df = gender_merge_df.rename(columns={"SN_x": "Total Count", "SN_y": "Percentage of Players"})

gender_merge_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Purchase Count by gender
grouped_gender_df = purchase_data.groupby(['Gender'])

print(grouped_gender_df)

grouped_gender_df.count()

grouped_gender_purchase_df = grouped_gender_df["Purchase ID"].value_counts()


grouped_gender_purchase_df.head()

#Average Purchase Price

gender_summary_df = pd.DataFrame({"Purchase ID": grouped_gender_purchase_df})
gender_summary_df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11d908a58>

                                   Purchase ID
Gender                Purchase ID
Female                15                     1
                      18                     1
                      38                     1
                      41                     1
                      55                     1
...                                        ...
Other / Non-Disclosed 484                    1
                      549                    1
                      629                    1
                      637                    1
                      747                    1

[780 rows x 1 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame