### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [67]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [68]:
#Display the total number of players
total_players= len(purchase_data["SN"].value_counts())

total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
#Run # of unique items
unique_items = len(purchase_data_df["Item Name"].unique())
# print(unique_item)

#Average Price
average_price = purchase_data_df["Price"].mean()
# print(average_price)

# of Purchases
number_purchases = len(purchase_data_df["Purchase ID"].value_counts())
# print(number_purchases)

#of total revenue
total_revenue = purchase_data_df["Price"].sum()
# print(total_revenue)

#Display the summary data frame

summary_df = pd.DataFrame ({"Number of Unique Items": [unique_items], "Average Price": f"${average_price:,.2f}", 
                             "Number of Purchases": [number_purchases], "Total Revenue": f"${total_revenue:,.2f}"})

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [70]:
#Unique Gender Count
gender_count_df = purchase_data_df.groupby("Gender")["SN"].nunique()

gender_count_df

#Total Count
gender_total_count_df = len(purchase_data_df["SN"].value_counts())
# Percentage of Gender

gender_percent_df = (((gender_count_df/gender_total_count_df)*100).round(2).astype(str) + '%')
# gender_percent_df = gender_count_df/1000

gender_percent_df

#Data Frame

gender_merge_df = pd.merge(gender_count_df, gender_percent_df, on ="Gender")

gender_merge_df

#Change Column & Format

gender_merge_df = gender_merge_df.rename(columns={"SN_x": "Total Count", "SN_y": "Percentage of Players"})

gender_merge_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

The below each broken by gender

Purchase Count

Average Purchase Price

Total Purchase Value

Average Purchase Total per Person by Gender

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
# Count the total purchases by Gender
group_gender = purchase_data_df.groupby("Gender")
purchase_count = group_gender["Purchase ID"].count()

#Average Purchase  Price
average_purchase_price = group_gender["Price"].mean()

#Average Purchase Total
average_purchase_total = group_gender["Price"].sum()

#Average purchase total by gender
average_purchase_person = average_purchase_total/gender_total_count_df

#DataFrame
purchase_analysis_df = pd.DataFrame ({"Purchase Count": purchase_count,
                                   "Average Purchase Price": average_purchase_price,
                                   "Average Purchase Value": average_purchase_total,
                                   "Average Purchase Total per Person": average_purchase_person})


purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_df["Average Purchase Value"] = purchase_analysis_df["Average Purchase Value"].map("${:.2f}".format)
purchase_analysis_df["Average Purchase Total per Person"] = purchase_analysis_df["Average Purchase Total per Person"].map("${:.2f}".format)
purchase_analysis_df
# purchase_count = group_gender["Purchase ID"].count()

# #Average Purchase Price
# average_purchase_price = group_gender["Price"].mean()

# average_purchase_price

,Purchase Count,Average Purchase Price,Average Purchase Value,Average Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$0.63
Male,652,$3.02,$1967.64,$3.42
Other / Non-Disclosed,15,$3.35,$50.19,$0.09

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [113]:
#Bins for Ages
ages_bins = [0,9,14,19,24,29,34,39,100]
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#added bins & grouped by age
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], ages_bins, labels=group_name, include_lowest=True)

age_range = purchase_data_df.groupby("Age Range")

total_count = age_range["SN"].nunique()

total_count

total_players = len(purchase_data_df["SN"].value_counts())

#percentage
percentage_of_players = (((total_count/total_players) * 100).round(2).astype(str) + '%')

percentage_of_players

#Create A Data Frame

age_demographic_summary_df = pd.DataFrame({"Total Count": total_count,
                                          "Percentage of Players":percentage_of_players})

age_demographic_summary_df



# age_range[["comments", "duration", "languages"]].mean()

# total_players_age = age_range["SN"].nunique()

# # print(total_players)

# percent_by_age = (total_players_age/total_players*100)

# print(percent_by_age)

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame